@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, 
body {
    overflow-x: hidden;
}

body{
    font-family: Roboto, sans-serif;
    padding: 0 300px 0 300px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    font-weight: bold;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px
  }

a {
    color: #4F9D69;
    text-decoration: none;
}

.header {
    margin: 0 -9999rem;
    padding: 0.25rem 9999rem;
    background-color: #BEE6CE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #4F9D69;
}

.contenedor1 {
    margin: 0 -9999rem;
    padding: 0.25rem 9999rem;
    background-color: #BEE6CE;
    color: #4F9D69;
    display: flex;
}

button {
    font-family: Roboto, sans-serif;
    border: none;
    border-radius: 8px;
    background: #eee;
    padding: 10px;
    color: #4F9D69;
  }

  img {
    object-fit: cover;
    width: 500px;
    height: 200px;
}